* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#product-photos img {
    width: 150px;
    display: block;
    padding: 12px;
    border-radius: 25px;
}
#product img {
    width: 500px;
    padding: 12px;
    border-radius: 25px;
    align-items: center;
}
#header p {
    display: inline;
    font-size: small;
    margin: 50px;
}
#header h1 {
    display: inline;
}
#header div {
    display: inline;
}
#m {
    color: darkcyan;
}
#e {
    color: darkorchid;
}
#b {
    color: darkcyan;
}
#a {
    color: darkorchid;
}
#y {
    color: darkcyan;
}
#search-bar {
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 25px;
    grid-row: center;
}
#search {
    background-color: rgba(0, 139, 139, 0.301);
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid darkcyan;
    margin: 30px;
}
#search p {
    padding: 20px;
}
#product-photos {
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 25px;
    margin-left: 50px;
    padding: 25px;
}
#seller {
    background-color: darkorchid;
    display: inline-block;
    padding: 12px;
    border-radius: 50%;
}
#seller-name {
    display: inline-block;
    color: gray;
    font-size: small;
}
#seller-name a {
    text-decoration: none;
    color: black;
    font-size: medium;
}
#product-info p a {
    text-decoration: none;
    color: black;
    display: inline;
}
#product-info h2 {
    font-family: 
        'Franklin Gothic Medium', 
        'Arial Narrow', 
        Arial, 
        sans-serif;
}
#quantity p {
    display: inline-block;
    margin: 3px;
}
#number {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 25%;
}
#sold {
    font-size: small;
    color: gray;
}
#button-1 {
    background-color: rgba(153, 50, 204, 0.616);
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid darkorchid;
    margin-top: 50px;
}
#button-2 {
    background-color: rgba(0, 139, 139, 0.301);
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid darkcyan;
    margin-top: 20px;
}
#button-3 {
    background-color: rgba(0, 139, 139, 0.301);
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid darkcyan;
    margin-top: 20px;
}
#button-1:hover {
    background-color: rgba(153, 50, 204, 0.349);
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgba(153, 50, 204, 0.74);
    margin-top: 50px;
}
#button-2:hover {
    background-color: rgba(0, 139, 139, 0.151);
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgba(0, 139, 139, 0.637);
    margin-top: 20px;
}
#button-3:hover {
    background-color: rgba(0, 139, 139, 0.151);
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgba(0, 139, 139, 0.637);
    margin-top: 20px;
}
#search:hover {
    background-color: rgba(0, 139, 139, 0.151);
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgba(0, 139, 139, 0.637);
    margin: 30px;
}
#product div {
    padding: 50px;
    margin: 50px 100px;
    background-color: whitesmoke;
    border-radius: 25px;
}
#product-info { 
    margin-right: 50px;
}


