
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
#navbar a {
    text-decoration: none;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
    color: black;
    font-size: 20px;
}
#navbar .cta-button {
    background-color: #ffcf67;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 2px 2px 4px black;
    font-size: 23px;
}
#hero {
    background-image: url(../images/mix-grill-7414547_1920-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
}
#hero h3 {
    color: white;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 700;
    font-size: 36px;
    padding: 24px;
    position: absolute;
    top: 15%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.466)
}
#hero .cta-button {
    background-color: #4155a3;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 2px 2px 4px black;
    text-decoration: none;
    color: white;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 500;
    position: absolute;
    bottom: 15%;
    left: 30%;
    font-size: 24px;
}
#footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#footer img {
    width: 300px;
}
#footer a {
    text-decoration: none;
    color: black;
    padding: 75px;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
    font-size: 18px;
}
#copy-right {
    text-align: center;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
}
.cta-button:hover {
    transform: translateY(-4px);
    box-shadow: 8px 8px 12px black;
}
.cta-button {
    transition: 
    transform 0.5s,
    box-shadow 0.5s;
}
.cta-button:active {
    transform: translateY(4px);
    box-shadow: 2px 2px 4px black;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
    background-color: #4155a3;
    margin-top: 0px;
    margin-bottom: 0px;
}
.side-by-side img {
    width: 100%;
}
.side-by-side .text-container {
    flex: 1;
    margin-left: 45px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container h3 {
    font-size: 48px;
    color: #ffcf67;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 700;
}
.side-by-side .text-container h4 {
    font-size: 36px;
    color: #ffcf67;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
}
.side-by-side .text-container p {
    font-size: 15px;
    color: #c8c9cc;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
}
#menu {
    margin-top: 0px;
    padding: 24px;
    border: 10px solid #ffcf67;
    background-color: #eee7dc;
}
#menu h1 {
    color: #4155a3;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 700;
    text-align: center;
    font-size: 36px;
}
#menu p {
    text-align: center;
    color: #919191;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 700;
    font-size: 15px;
}
.side-by-side .text-container #potion {
    font-size: 20px;
    margin-right: 45px;
}
.side-by-side .text-container .cta-button {
    background-color: #ffcf67;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 2px 2px 4px black;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 200px;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
    margin-bottom: 12px;
    transition: 
    transform 0.5s,
    box-shadow 0.5s;
}
.side-by-side .text-container .cta-button:hover {
    transform: translateY(-4px);
    box-shadow: 8px 8px 12px black;
}
.side-by-side .text-container .cta-button:active {
    transform: translateY(4px);
    box-shadow: 2px 2px 4px black;
}
/*Media queries*/
@media  screen and (max-width: 1270px) and (min-width: 900px) {
    .side-by-side .text-container .cta-button {
        font-size: 14px;
        padding: 12px;
    }
    .side-by-side .text-container #potion {
        font-size: 16px;
    }
    .side-by-side .text-container p {
        font-size: 12px;
    }
    .side-by-side .text-container h4 {
        font-size: 24px;
    }
    .side-by-side .text-container h3 {
        font-size: 36px;
    }
}
@media screen and (max-width: 900px) and (min-width: 850px) {
    .side-by-side .text-container .cta-button {
        font-size: 12px;
        padding: 12px;
    }
    .side-by-side .text-container #potion {
        font-size: 12px;
    }
    .side-by-side .text-container p {
        font-size: 10px;
    }
    .side-by-side .text-container h4 {
        font-size: 16px;
    }
    .side-by-side .text-container h3 {
        font-size: 24px;
    }
}
@media screen and (max-width: 850px) and (min-width: 601px) {
    .side-by-side .text-container .cta-button {
        margin-left: 100px;
        font-size: 10px;
        padding: 8px;
    }
    .side-by-side .text-container #potion {
        font-size: 10px;
    }
    .side-by-side .text-container p {
        font-size: 8px;
    }
    .side-by-side .text-container h4 {
        font-size: 12px;
    }
    .side-by-side .text-container h3 {
        font-size: 16px;
    }
    #navbar {
        flex-direction: column;
    }
    #navbar a {
        margin: 20px;
    }
    #navbar #locations {
        margin: 20px;
    }
    #footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) and (min-width: 556px) {
    .side-by-side .text-container .cta-button {
        margin-left: 100px;
        font-size: 10px;
        padding: 8px;
    }
    .side-by-side .text-container #potion {
        font-size: 10px;
    }
    .side-by-side .text-container p {
        font-size: 8px;
    }
    .side-by-side .text-container h4 {
        font-size: 12px;
    }
    .side-by-side .text-container h3 {
        font-size: 16px;
    }
    #navbar {
        flex-direction: column;
    }
    #navbar a {
        margin: 20px;
    }
    #navbar #locations {
        margin: 20px;
    }
    #footer {
        flex-direction: column;
    }
    #hero {
        width: 100vh;
    }
    #hero h3 {
        font-size: 20px;
        left: 20%;
    }
    #hero .cta-button {
        font-size: 15px;
        left: 35%;
    }
    #menu h1 {
        font-size: 24px;
    }
    #menu p {
        font-size: 12px;
    }
}
@media screen and (max-width: 555px) {
    .side-by-side .text-container .cta-button {
        margin-left: 100px;
        font-size: 10px;
        padding: 8px;
    }
    .side-by-side .text-container #potion {
        font-size: 10px;
    }
    .side-by-side .text-container p {
        font-size: 8px;
    }
    .side-by-side .text-container h4 {
        font-size: 12px;
    }
    .side-by-side .text-container h3 {
        font-size: 16px;
    }
    #navbar {
        flex-direction: column;
    }
    #navbar a {
        margin: 20px;
    }
    #navbar #locations {
        margin: 20px;
    }
    #footer {
        flex-direction: column;
    }
    #hero {
        width: 100vh;
    }
    #hero h3 {
        font-size: 20px;
        left: 10%;
        top: 25%;
    }
    #hero .cta-button {
        font-size: 15px;
        left: 25%;
        bottom: 50%;
        
    }
    #menu h1 {
        font-size: 24px;
    }
    #menu p {
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) {
    .side-by-side .text-container .cta-button {
        margin-left: 100px;
        font-size: 8px;
        padding: 8px;
    }
    .side-by-side .text-container #potion {
        font-size: 8px;
    }
    .side-by-side .text-container p {
        font-size: 8px;
    }
    .side-by-side .text-container h4 {
        font-size: 10px;
    }
    .side-by-side .text-container h3 {
        font-size: 12px;
    }
    #menu h1 {
        font-size: 24px;
    }
    #menu p {
        font-size: 12px;
    }
}