* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-layout {
    background-image: url(../images/pexels-miami302-20814499.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: relative;
    margin-bottom: 100px;
}
#hero-layout h1 {
    position: absolute;
    top: 20%;
    left: 15%;
    color: whitesmoke;
    font-size: 36px;
}
#hero-layout h3 {
    font-size: 24px;
}
#from {
    position: absolute;
    bottom: 20%;
    left: 15%;
    color: whitesmoke;
}
#to {
    position: absolute;
    bottom: 10%;
    left: 15%;
    color: whitesmoke;
}
#gallery-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 10px solid slategray;
    max-width: 800px;
    margin: 24px auto;
    text-align: center;
}
#gallery-layout img {
    height: 325px;
    flex: 1;
    object-fit: cover;
}
#gallery-title {
    text-align: center;
    font-size: 24px;
    color: slategray;
}